body{
  word-break: break-word !important;
}
@media screen and (max-width: 320px){
  .index {
    .presentation-title{
        font-size: 8em;
        font-weight: 700;
        margin: 0;
        color: #FFFFFF;
        background: #fbf8ec;
        background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
        background: -webkit-linear-gradient(top, #FFFFFF 35%,#4e6773 100%);
        background: -ms-linear-gradient(top, #FFFFFF 35%,#4e6773 100%);
        background: linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .presentation-subtitle {
      margin-bottom: 100px;
    }
    .category.category-absolute {
      margin-top: 20px;
    }
  }
}
@media screen and (min-width: 320px){
  .presentation-title{
      font-size: 4em;
      font-weight: 700;
      margin: 0;
      color: #FFFFFF;
      background: #fbf8ec;
      background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
      background: -webkit-linear-gradient(top, #FFFFFF 35%,#4e6773 100%);
      background: -ms-linear-gradient(top, #FFFFFF 35%,#4e6773 100%);
      background: linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
}
@media screen and (min-width: 1024px){
  .presentation-title{
      font-size: 7em;
      font-weight: 700;
      margin: 0;
      color: #FFFFFF;
      background: #fbf8ec;
      background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
      background: -webkit-linear-gradient(top, #FFFFFF 35%,#4e6773 100%);
      background: -ms-linear-gradient(top, #FFFFFF 35%,#4e6773 100%);
      background: linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
}
@media screen and (max-width: 374px){
  .index {
    .presentation-subtitle {
      margin-bottom: 100px;
    }
  }
  nav[aria-label="pagination"] {
    justify-content: center;
    text-align: center;
    .pagination {
      display: inline-block;
      .page-item {
        margin-bottom: 5px;
      }
    }
  }
  .register-page .page-header .container {
    margin-top: 7rem!important;
  }
}
